.pagination-wrapper {
  position: fixed;
  bottom: var(--bottom-nav-height);
  left: 0;
  right: 0;
  z-index: 100;
  background: white;
  border-top: 1px solid #ddd;
  height: var(--pagination-height);
  display: flex;
  align-items: center;

  ::ng-deep .p-paginator {
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
}
